.login {
  margin: 0 auto;
  width: 200px;
  background-color: #000;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  padding: 0.75em 1em;
}

.login-github {
  cursor: pointer;
  font-weight: bold;
}
