<header class="header">
  <ul class="navigation">
    <li class="perspective" id="inbox"><a href="/app#inbox">Inbox</a></li>
    <li class="perspective" id="projects"><a href="/app#projects">Projects</a></li>
    <li class="perspective" id="contexts"><a href="/app#contexts">Contexts</a></li>
    <li class="perspective" id="settings"><a href="/settings">Settings</a></li>
  </ul>
  <div class="toolbar">
    <span class="tool" id="refresh"></span>
    <span class="tool" id="add-action"></span>
  </div>
</header>
