.source {
  @include clearfix;
  @include padding(10px 10px 10px 10px);
  margin-bottom: 10px;
  border: 1px solid black;

  .source-name {
    display: inline-block;
    float: left;
  }

  button.import-source {
    background-color: #477DCA;
    border-radius: 32px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: right;

    &:hover {
      background-color: lighten(#477DCA, 10%);
    }

    &.imported {
      background-color: $light-gray;
    }
  }
}
