.action {
  @include row();
  margin-top: 5px;
  @include padding(15px);
  @include border-bottom-radius(5px);
  @include border-top-radius(5px);

  &.completed {
    background-color: $medium-gray;

    #{$all-text-inputs}, textarea {
      background-color: $light-gray;
    }
  }

  &.overdue {
    font-style: italic;
    border: 1px solid $red;
  }
}

.action-status {
  @include span-columns(1);

  input[type="checkbox"] {
    display: none;

    + label:before {
      display: inline-block;
      content: "\f10c";
      font-family: FontAwesome;
      font-size: 350%;
      font-style: normal;
    }

    &:checked + label:before {
      content: "\f05d";
    }
  }
}

.action-info {
  @include span-columns(11);
}

.action-atts {
  @include row();

  #{$all-text-inputs}, .selectize-control {
    @include span-columns(3);

  }

  > input:last-child {
    float: right;
  }

  .edit-notes {
    @include span-columns(1);
    text-align: bottom;
  }
}
