.action {
  @include row();
  margin-top: 5px;
  margin-right: 10px;
  @include padding(15px 25px 5px 10px);
  @include border-bottom-radius(5px);
  @include border-top-radius(5px);

  &.completed {
    background-color: $medium-gray;

    #{$all-text-inputs}, textarea {
      background-color: $light-gray;
    }
  }

  &.overdue {
    font-style: italic;
    border: 1px solid $red;
  }
}
