<div class="app">
  {{>header}}
  <div class="main"></div>
</div>
<script type="text/javascript">
  var ddBoot = {
    actions: {{{actions}}},
    projects: {{{projects}}},
    contexts: {{{contexts}}}
  }
</script>
<script src="common.js"></script>
<script src="application.js"></script>
