<div class="app">
  <header class="header">
    <ul class="navigation">
      <li class="perspective" id="inbox"><a href="#inbox">Inbox</a></li>
      <li class="perspective" id="projects"><a href="#projects">Projects</a></li>
      {{!-- <li class="perspective" id="contexts"><a href="#contexts">Contexts</a></li> --}}
    </ul>
    <div class="toolbar">
      <span class="tool" id="refresh"></span>
      <span class="tool" id="add-action"></span>
    </div>
  </header>
  <div class="main"></div>
</div>
<script type="text/javascript">
  var ddBoot = {
    actions: {{{actions}}},
    projects: {{{projects}}}
  }
</script>
<script src="client.js"></script>
