<div class="display-name">
  <label for="display-name">Display Name</label>
  <input type="text" name="display-name" value="{{display}}" disabled />
</div>
<div class="email">
  <label for="email">Email</label>
  <input type="email" name="email" value="{{email}}" disabled />
</div>
